In [4]:
%run ~/.python/init.ipynb

In [19]:
%cd /Users/vmasrani/dev/phd/projects/local/icml_qpaths/code

/Users/vmasrani/dev/phd/projects/local/icml_qpaths/code

In [109]:
import wandb
import pandas as pd
api = wandb.Api()
runs = api.runs("vadmas/qpath_smc_numeric", filters={"$and": [{"state": "finished"}] })

In [110]:
ground_truths = [r for r in runs if r.config['alg_type'] == 'ground_truth']

In [10]:
runs = [r for r in runs if 'qpath_table' in r.tags and r.config['dataset_name'] == 'pima']

In [15]:
def process_run(run):
    for f in run.files():
        if 'pickle' in f.name:
            f.download(replace=True)
            df = pd.read_pickle(f.name)
            break
    df['dataset_name'] = run.config['dataset_name']
    df['alg_type'] = run.config['alg_type']
    df['adaptive'] = run.config['adaptive']
    df['N'] = run.config['N']
    df['nruns'] = run.config['nruns']
    return df.remove_columns('out')

In [111]:
len(ground_truths)

4

In [112]:
gts = pd.concat([process_run(r) for r in ground_truths])

In [119]:
gts.query("adaptive == True and dataset_name == 'sonar'")['last_loglik'].mean()

-123.66725198734291

In [21]:
df = pd.concat([process_run(r) for r in runs])

In [100]:
ground_truth = df.query("alg_type == 'ground_truth' and adaptive==True")['last_loglik'].mean()

In [104]:
ground_truth

-391.4943977001596

In [103]:
df.query("alg_type == 'ground_truth' and adaptive==True")[['last_loglik','path_sampling']].mean()

last_loglik     -391.494398
path_sampling   -391.505368
dtype: float64

In [101]:
gt2 = pd.read_pickle("./pima_ground_truth.pickle")

In [76]:
gt2[['last_loglik','path_sampling']].mean()

last_loglik     -391.494398
path_sampling   -391.505368
dtype: float64

In [29]:
df

,M,type,cpu,path_sampling,exponents,q,n_eval,sample_logliks,last_loglik,first_post_exp,...,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,alg_type,adaptive
0,1,q_grid,7.444681,-13.650489,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.900000,69120000.0,"[-2388.9181573362653, -1585.1842993626906, -13...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,q_grid,False
1,1,q_grid,8.620500,-22.165346,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.938415,69120000.0,"[-2993.8043256924766, -3148.2582860774664, -30...",-557.089959,2.728456,...,4.783179e-07,9.582261e-07,1.514886e-05,3.953915e-08,1.868918e-06,6.223471e-07,4.214729e-07,6.790280e-08,q_grid,False
2,1,q_grid,7.403400,-35.991574,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.962073,69120000.0,"[-2557.4327659291293, -1910.3796179759665, -40...",-615.528916,5.770015,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.332268e-15,q_grid,False
3,1,q_grid,7.401248,-58.442281,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.976643,69120000.0,"[-2143.3638442649267, -2950.592379348847, -490...",-600.875911,1.065574,...,7.327472e-15,-3.552714e-15,4.263256e-14,6.990936e-15,1.809664e-14,1.776357e-14,1.282308e-14,3.996803e-15,q_grid,False
4,1,q_grid,8.701987,-94.897178,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.985616,69120000.0,"[-3291.5952990013184, -3243.776423877127, -263...",-566.371370,2.410441,...,-8.881784e-16,7.105427e-15,8.881784e-16,2.275957e-15,3.552714e-15,8.881784e-16,0.000000e+00,1.165734e-15,q_grid,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,5,q_grid,33.281088,-391.317829,"[0.0, 0.0013348212321371074, 0.003529216441796...",0.999957,506880000.0,"[-3207.0683234995886, -3547.4927525421203, -34...",-392.130948,0.845977,...,5.006748e-02,5.854924e-02,4.316439e-02,5.063454e-02,4.529173e-02,6.112669e-02,4.081753e-02,5.217857e-02,q_grid,True
626,5,q_grid,31.587267,-391.646919,"[0.0, 0.0013115443037410252, 0.003501993141460...",0.999974,506880000.0,"[-4510.295002056952, -3288.3261722758957, -379...",-392.145026,0.844908,...,4.911060e-02,5.759722e-02,4.423924e-02,4.954500e-02,4.583587e-02,5.824064e-02,4.161071e-02,5.170015e-02,q_grid,True
627,5,q_grid,34.309472,-392.414064,"[0.0, 0.0012660623407521696, 0.003436980059702...",0.999984,506880000.0,"[-2176.3579731712334, -4845.128823529872, -203...",-392.692722,0.841143,...,4.656685e-02,5.670906e-02,4.254374e-02,4.889476e-02,4.335898e-02,5.745999e-02,4.124497e-02,4.873859e-02,q_grid,True
628,5,q_grid,31.774436,-391.143808,"[0.0, 0.0012648468427346865, 0.003432250862622...",0.999990,506880000.0,"[-2920.054134774144, -5322.52107575842, -1151....",-391.315132,0.838706,...,4.957510e-02,5.712438e-02,4.264863e-02,4.989661e-02,4.435177e-02,5.834973e-02,4.050662e-02,5.011660e-02,q_grid,True
629,5,q_grid,30.537606,-392.260780,"[0.0, 0.0012433693655562318, 0.003398521884872...",1.000000,506880000.0,"[-2206.0552081276824, -1237.6741216907326, -31...",-392.249801,0.846290,...,4.901142e-02,5.920065e-02,4.375547e-02,5.150778e-02,4.422509e-02,5.789020e-02,3.987372e-02,5.158742e-02,q_grid,True

In [69]:
pima_gt = (pd.read_pickle("./pima_ground_truth.pickle")['last_loglik']).mean()

In [70]:
pima_gt

-391.4943977001596

In [86]:
df['type'].unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [68]:

# geometric = res.query("q == 1")
# qpath = res.query("q != 1")

In [25]:
df[['q', 'M','type','adaptive','last_loglik','exponents']]

,q,M,type,adaptive,last_loglik,exponents
0,0.900000,1,q_grid,False,NaN,"[0.0, 0.1111111111111111, 0.2222222222222222, ..."
1,0.938415,1,q_grid,False,-557.089959,"[0.0, 0.1111111111111111, 0.2222222222222222, ..."
2,0.962073,1,q_grid,False,-615.528916,"[0.0, 0.1111111111111111, 0.2222222222222222, ..."
3,0.976643,1,q_grid,False,-600.875911,"[0.0, 0.1111111111111111, 0.2222222222222222, ..."
4,0.985616,1,q_grid,False,-566.371370,"[0.0, 0.1111111111111111, 0.2222222222222222, ..."
...,...,...,...,...,...,...
625,0.999957,5,q_grid,True,-392.130948,"[0.0, 0.0013348212321371074, 0.003529216441796..."
626,0.999974,5,q_grid,True,-392.145026,"[0.0, 0.0013115443037410252, 0.003501993141460..."
627,0.999984,5,q_grid,True,-392.692722,"[0.0, 0.0012660623407521696, 0.003436980059702..."
628,0.999990,5,q_grid,True,-391.315132,"[0.0, 0.0012648468427346865, 0.003432250862622..."
629,1.000000,5,q_grid,True,-392.249801,"[0.0, 0.0012433693655562318, 0.003398521884872..."

In [26]:
pima_gt

NameError: name 'pima_gt' is not defined

In [58]:
(df[['q', 'M','type','adaptive','last_loglik','exponents']]
 .query('M < 20')
 .assign(K=lambda x:x["exponents"].apply(len))
 .drop('exponents',axis=1)
  .assign(
     err = lambda x: (x['last_loglik'] - pima_gt).abs()
 )
 .query('adaptive==True')
 .query('q == 1 and M == 5')
#  .groupby(['adaptive', 'M','q']).agg(['mean','std'])
 .collapse_levels('_')
 .reset_index()
 .dropna()
)

   index    q  M    type  adaptive  last_loglik   K       err
0    440  1.0  5  q_grid      True  -391.823660  15  0.329262
1    461  1.0  5  q_grid      True  -391.951057  15  0.456659
2    482  1.0  5  q_grid      True  -392.258003  15  0.763605
3    503  1.0  5  q_grid      True  -389.061138  15  2.433260
4    524  1.0  5  q_grid      True  -391.652659  15  0.158262
5    545  1.0  5  q_grid      True  -391.816227  15  0.321829
6    566  1.0  5  q_grid      True  -389.362767  15  2.131631
7    587  1.0  5  q_grid      True  -391.729215  15  0.234817
8    608  1.0  5  q_grid      True  -391.279371  15  0.215027
9    629  1.0  5  q_grid      True  -392.249801  15  0.755404

In [136]:
df.q.

0      0.900000
1      0.938415
2      0.962073
3      0.976643
4      0.985616
         ...
625    0.999957
626    0.999974
627    0.999984
628    0.999990
629    1.000000
Name: q, Length: 1280, dtype: float64

In [146]:
df

,M,type,cpu,path_sampling,exponents,q,n_eval,sample_logliks,last_loglik,first_post_exp,...,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,alg_type,adaptive
0,1,q_grid,7.444681,-13.650489,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.900000,69120000.0,"[-2388.9181573362653, -1585.1842993626906, -13...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,q_grid,False
1,1,q_grid,8.620500,-22.165346,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.938415,69120000.0,"[-2993.8043256924766, -3148.2582860774664, -30...",-557.089959,2.728456,...,4.783179e-07,9.582261e-07,1.514886e-05,3.953915e-08,1.868918e-06,6.223471e-07,4.214729e-07,6.790280e-08,q_grid,False
2,1,q_grid,7.403400,-35.991574,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.962073,69120000.0,"[-2557.4327659291293, -1910.3796179759665, -40...",-615.528916,5.770015,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.332268e-15,q_grid,False
3,1,q_grid,7.401248,-58.442281,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.976643,69120000.0,"[-2143.3638442649267, -2950.592379348847, -490...",-600.875911,1.065574,...,7.327472e-15,-3.552714e-15,4.263256e-14,6.990936e-15,1.809664e-14,1.776357e-14,1.282308e-14,3.996803e-15,q_grid,False
4,1,q_grid,8.701987,-94.897178,"[0.0, 0.1111111111111111, 0.2222222222222222, ...",0.985616,69120000.0,"[-3291.5952990013184, -3243.776423877127, -263...",-566.371370,2.410441,...,-8.881784e-16,7.105427e-15,8.881784e-16,2.275957e-15,3.552714e-15,8.881784e-16,0.000000e+00,1.165734e-15,q_grid,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,5,q_grid,33.281088,-391.317829,"[0.0, 0.0013348212321371074, 0.003529216441796...",0.999957,506880000.0,"[-3207.0683234995886, -3547.4927525421203, -34...",-392.130948,0.845977,...,5.006748e-02,5.854924e-02,4.316439e-02,5.063454e-02,4.529173e-02,6.112669e-02,4.081753e-02,5.217857e-02,q_grid,True
626,5,q_grid,31.587267,-391.646919,"[0.0, 0.0013115443037410252, 0.003501993141460...",0.999974,506880000.0,"[-4510.295002056952, -3288.3261722758957, -379...",-392.145026,0.844908,...,4.911060e-02,5.759722e-02,4.423924e-02,4.954500e-02,4.583587e-02,5.824064e-02,4.161071e-02,5.170015e-02,q_grid,True
627,5,q_grid,34.309472,-392.414064,"[0.0, 0.0012660623407521696, 0.003436980059702...",0.999984,506880000.0,"[-2176.3579731712334, -4845.128823529872, -203...",-392.692722,0.841143,...,4.656685e-02,5.670906e-02,4.254374e-02,4.889476e-02,4.335898e-02,5.745999e-02,4.124497e-02,4.873859e-02,q_grid,True
628,5,q_grid,31.774436,-391.143808,"[0.0, 0.0012648468427346865, 0.003432250862622...",0.999990,506880000.0,"[-2920.054134774144, -5322.52107575842, -1151....",-391.315132,0.838706,...,4.957510e-02,5.712438e-02,4.264863e-02,4.989661e-02,4.435177e-02,5.834973e-02,4.050662e-02,5.011660e-02,q_grid,True
629,5,q_grid,30.537606,-392.260780,"[0.0, 0.0012433693655562318, 0.003398521884872...",1.000000,506880000.0,"[-2206.0552081276824, -1237.6741216907326, -31...",-392.249801,0.846290,...,4.901142e-02,5.920065e-02,4.375547e-02,5.150778e-02,4.422509e-02,5.789020e-02,3.987372e-02,5.158742e-02,q_grid,True

In [145]:
df.q.unique()[11]

0.9995167069761428

In [121]:
1 - 1e-5

0.99999

In [125]:
1 - 7e-5

0.99993

In [ ]:
0.999517

In [130]:
(df[['q', 'M','type','adaptive','last_loglik','exponents']]
 .query('M < 20')
 .assign(K=lambda x:x["exponents"].apply(len))
 .drop('exponents',axis=1)
  .assign(
     err = lambda x: (x['last_loglik'] - pima_gt).abs()
 )
 .query('adaptive==True')
 .query('M == 1')
#  .query('q == 0.9998871162108315 and M == 5')
 .groupby(['adaptive', 'M','q']).agg(['mean'])
 .collapse_levels('_')
 .reset_index()
 .dropna()
#  .mean()
)

    adaptive  M         q  last_loglik_mean  K_mean    err_mean
1       True  1  0.938415       -553.907331     2.0  162.412934
2       True  1  0.962073       -518.828408     9.0  127.334011
3       True  1  0.976643       -500.392652     9.9  108.898255
4       True  1  0.985616       -461.472280    11.9   69.977882
5       True  1  0.991141       -423.448247    12.7   31.953850
6       True  1  0.994544       -408.710031    12.9   17.215633
7       True  1  0.996640       -401.716856    13.7   10.222459
8       True  1  0.997931       -398.410435    14.5    6.916038
9       True  1  0.998726       -393.738880    14.0    3.048807
10      True  1  0.999215       -395.824156    14.8    4.329758
11      True  1  0.999517       -393.038430    14.7    2.168091
12      True  1  0.999702       -393.402046    14.9    2.574439
13      True  1  0.999817       -395.386691    15.5    3.892294
14      True  1  0.999887       -394.430411    15.3    3.520799
15      True  1  0.999930       -392.795661    15.1    2.387404
16      True  1  0.999957       -394.010890    15.4    2.866034
17      True  1  0.999974       -395.294624    15.7    3.830371
18      True  1  0.999984       -394.383362    15.4    3.411279
19      True  1  0.999990       -394.502570    15.4    3.829740
20      True  1  1.000000       -393.482118    15.3    2.308315

In [80]:
res = (df[['q', 'M','type','adaptive','last_loglik','exponents']]
 .query('M < 20')
 .assign(K=lambda x:x["exponents"].apply(len))
 .drop('exponents',axis=1)
 .assign(
     err = lambda x: (x['last_loglik'] - pima_gt).abs()
 )
 .groupby(['adaptive', 'M','q']).agg(['mean','std'])
 .collapse_levels('_')
 .reset_index()
 .dropna())

geometric = res.query("q == 1")
qpath = res.query("q != 1")

In [126]:
def process_best(res):
    bestq = (res
     .query("q != 1")
)
    bestq = bestq.loc[[bestq.err_mean.idxmin()]]
    return bestq

In [96]:
qpath_results = qpath.groupby(['adaptive','M']).apply(process_best)
geometric_results = geometric

In [98]:
# table = pd.concat([
#     (geometric_results
#      .reset_index()
#      .set_index(["adaptive", 'M', 'index'])
#      .add_column("model",'geometric')),
#     (qpath_results.groupby(['adaptive', "M"])
#      .apply(process_best).drop(['adaptive','M'], axis=1)
#      .add_column("model",'best_q')),
# ])

In [14]:
# qpath_results.to_pickle('qpath_results.pickle')
# geometric_results.to_pickle('geometric_results.pickle')

In [5]:
qpath_results = pd.read_pickle('qpath_results.pickle')
geometric_results = pd.read_pickle('geometric_results.pickle')

In [7]:
geometric_results

,adaptive,M,q,last_loglik_mean,last_loglik_std,K_mean,K_std,err_mean,err_std
20,False,1,1.0,-475.618519,41.046468,10.0,0.000000,84.124121,41.046468
41,False,3,1.0,-421.325589,8.201903,10.0,0.000000,29.831191,8.201903
62,False,5,1.0,-441.900411,22.174826,10.0,0.000000,50.406013,22.174826
83,True,1,1.0,-393.482118,2.301316,15.3,0.674949,2.308315,1.940551
104,True,3,1.0,-391.309856,2.022172,14.9,0.316228,1.235149,1.559460
125,True,5,1.0,-391.318390,1.147727,15.0,0.000000,0.779976,0.822034

In [133]:
1 - 1e-5

0.99999

In [135]:
1 - 7e-5

0.99993

In [6]:
qpath_results

                adaptive  M         q  last_loglik_mean  last_loglik_std  \
adaptive M
False    1 8       False  1  0.997931       -398.281558         3.766913
         3 29      False  3  0.997931       -396.052333         3.560728
         5 50      False  5  0.997931       -396.696628         2.224929
True     1 74       True  1  0.999517       -393.038430         1.879796
         3 102      True  3  0.999984       -392.564039         0.798899
         5 118      True  5  0.999817       -392.053369         0.504742

                K_mean     K_std  err_mean   err_std
adaptive M
False    1 8      10.0  0.000000  6.787161  3.766913
         3 29     10.0  0.000000  4.616819  3.475415
         5 50     10.0  0.000000  5.202231  2.224929
True     1 74     14.7  0.483046  2.168091  0.979619
         3 102    15.0  0.000000  1.083760  0.777469
         5 118    15.0  0.000000  0.635172  0.391993

In [134]:
geometric_results

,adaptive,M,q,last_loglik_mean,last_loglik_std,K_mean,K_std,err_mean,err_std
20,False,1,1.0,-475.618519,41.046468,10.0,0.000000,84.124121,41.046468
41,False,3,1.0,-421.325589,8.201903,10.0,0.000000,29.831191,8.201903
62,False,5,1.0,-441.900411,22.174826,10.0,0.000000,50.406013,22.174826
83,True,1,1.0,-393.482118,2.301316,15.3,0.674949,2.308315,1.940551
104,True,3,1.0,-391.309856,2.022172,14.9,0.316228,1.235149,1.559460
125,True,5,1.0,-391.318390,1.147727,15.0,0.000000,0.779976,0.822034

In [19]:
print(geometric_results.round(2).to_latex())

\begin{tabular}{llrrrrrrrr}
\toprule
{} &  adaptive &  M &    q &  last\_loglik\_mean &  last\_loglik\_std &  K\_mean &  K\_std &  err\_mean &  err\_std \\
\midrule
20  &     False &  1 &  1.0 &           -475.62 &            41.05 &    10.0 &   0.00 &     84.12 &    41.05 \\
41  &     False &  3 &  1.0 &           -421.33 &             8.20 &    10.0 &   0.00 &     29.83 &     8.20 \\
62  &     False &  5 &  1.0 &           -441.90 &            22.17 &    10.0 &   0.00 &     50.41 &    22.17 \\
83  &      True &  1 &  1.0 &           -393.48 &             2.30 &    15.3 &   0.67 &      2.31 &     1.94 \\
104 &      True &  3 &  1.0 &           -391.31 &             2.02 &    14.9 &   0.32 &      1.24 &     1.56 \\
125 &      True &  5 &  1.0 &           -391.32 &             1.15 &    15.0 &   0.00 &      0.78 &     0.82 \\
\bottomrule
\end{tabular}

,adaptive,M,q,last_loglik_mean,last_loglik_std,K_mean,K_std,err_mean,err_std
20,False,1,1.0,-475.618519,41.046468,10.0,0.000000,84.124121,41.046468
41,False,3,1.0,-421.325589,8.201903,10.0,0.000000,29.831191,8.201903
62,False,5,1.0,-441.900411,22.174826,10.0,0.000000,50.406013,22.174826
83,True,1,1.0,-393.482118,2.301316,15.3,0.674949,2.308315,1.940551
104,True,3,1.0,-391.309856,2.022172,14.9,0.316228,1.235149,1.559460
125,True,5,1.0,-391.318390,1.147727,15.0,0.000000,0.779976,0.822034